<div class="row">
  <div class="col-xs-11">
    <% if @category.present? %>
      <h3><%= @category.title.humanize %> Patterns</h3>
    <% else %>
      <h3>All Patterns</h3>
    <% end %>
  </div>
  <div class="col-xs-1">
    <%= link_to "Add Pattern", new_pattern_path, :class => 'btn btn-primary' %>
  </div>
</div>
<div class="row pagination">
  <%= paginate @patterns %>
</div>
<div class="row">
  <% @patterns.each do |pattern| %>
    <div class="col-xs-3" style="height: 280px">
       <%= link_to edit_pattern_path(pattern) do %>
         <%= image_tag pattern.file.url, width: 260, class: 'img-thumbnail' %>
       <% end %>
       <%= link_to 'Delete', pattern_path(pattern), :method => 'delete', :confirm => 'Are you sure?', class: "btn btn-danger" %>
    </div>
  <% end %>
</div>
<div class="row pagination">
  <%= paginate @patterns %>
</div>
