<h1>Patterns for user <%= "#{current_user.email}"%></h1>
<p><%= link_to "Add Pattern", "#{patterns_path}/new", :class => 'navbar-link' %></p>
<%= paginate @patterns %>
<% @patterns.each do |pattern| %>
  <div>
	<%= link_to "#{patterns_path}/#{pattern.id}/edit" do %>
  		<%= image_tag pattern.file.url, width: 260 %>
	<% end %>
  </div>
<% end %>
<%= paginate @patterns %>
<p><%= link_to "Add Pattern", "#{patterns_path}/new", :class => 'navbar-link' %></p>
